@CHARSET "UTF-8";
/**
 *--------------------------------------------------
 * 主风格二 主搜索 样式表
 * Scorpio
 * 2015-10-21
 *--------------------------------------------------
**/
body{background-color:#f4f4f4;}
form#mainSearch{
	width:708px;
	height:42px;
	padding:5px;
	border:1px dashed #cecece;
}
input#keyword{
	float:left;
	width:640px;
	height:40px;
	padding-left:9px;
	border:1px solid #d9d9d9;
	border-right:none;
	font-family:"Microsoft YaHei","微软雅黑";
	font-size:14px;
	line-height:40px;
	color:#999;
}
input#searchButton{
	float:left;
	width:57px;
	height:40px;
	border:1px solid #d9d9d9;
	border-left:none;
}