@CHARSET "UTF-8";
/**
 *--------------------------------------------------
 * 主风格二 本栏搜索 样式表
 * Scorpio
 * 2015-10-21
 *--------------------------------------------------
**/
body{background-color:#FFF;}
form#mainSearch{
	width:310px;
	height:28px;
}
input#keyword{
	float:left;
	width:254px;
	height:26px;
	padding-left:10px;
	border:1px solid #d9d9d9;
	border-right:none;
	font-family:"Microsoft YaHei","微软雅黑";
	font-size:12px;
	line-height:26px;
	color:#999;
}
input#searchButton{
	float:left;
	width:45px;
	height:28px;
}