<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="info_disclosure">
	<insert id="insert">
		insert into wg_disclosure_info(
			indv_name,
			indv_company,
			indv_cert_type,
			indv_cert_num,
			indv_link_number,
			indv_post_code,
			indv_address,
			indv_email,
			org_name,
			org_code,
			org_legal_person,
			org_link_man,
			org_link_number,
			org_post_code,
			org_address,
			org_email,
			apply_date,
			info_of_gov,
			info_descriptor,
			get_info_way,
			get_info_media,
			info_usage,
			info_usage_remark,
			derate_expenses_reason,
			key_word,
			accept_no,
			apply_type,
			transfer_no
		)
		values(
			#{indv_name,jdbcType=VARCHAR},
			#{indv_company,jdbcType=VARCHAR},
			#{indv_cert_type,jdbcType=VARCHAR},
			#{indv_cert_num,jdbcType=VARCHAR},
			#{indv_link_number,jdbcType=VARCHAR},
			#{indv_post_code,jdbcType=VARCHAR},
			#{indv_address,jdbcType=VARCHAR},
			#{indv_email,jdbcType=VARCHAR},
			#{org_name,jdbcType=VARCHAR},
			#{org_code,jdbcType=VARCHAR},
			#{org_legal_person,jdbcType=VARCHAR},
			#{org_link_man,jdbcType=VARCHAR},
			#{org_link_number,jdbcType=VARCHAR},
			#{org_post_code,jdbcType=VARCHAR},
			#{org_address,jdbcType=VARCHAR},
			#{org_email,jdbcType=VARCHAR},
			#{apply_date,jdbcType=DATE},
			#{info_of_gov,jdbcType=VARCHAR},
			#{info_descriptor,jdbcType=VARCHAR},
			#{get_info_way,jdbcType=VARCHAR},
			#{get_info_media,jdbcType=VARCHAR},
			#{info_usage,jdbcType=VARCHAR},
			#{info_usage_remark,jdbcType=VARCHAR},
			#{derate_expenses_reason,jdbcType=VARCHAR},
			#{key_word,jdbcType=VARCHAR},
			#{accept_no,jdbcType=VARCHAR},
			#{apply_type,jdbcType=VARCHAR},
			#{transfer_no,jdbcType=VARCHAR}
		)
	</insert>
</mapper>