<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wg_html">
	<insert id="insert">
		insert into wg_html(path,html_content)
		values(#{path},#{htmlContent })
	</insert>
	
	<select id="getHtmlByPath" resultType="com.harmony.wenguang.dao.dataobject.WgHtmlDO">
		select id,path,html_content from wg_html
		where path=#{path}
	</select>
	
</mapper>