<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wg_input">
	<insert id="insert">
		insert into wg_input(input_key,input_value, is_valid)
		values(#{inuptKey},#{inuptValue},#{isValid})
	</insert>
	<select id="selectByExample" resultType="com.harmony.wenguang.dao.dataobject.WgInputDO">
		select * from wg_input
		<if test="configKey!=null and configKey!=''">
			and input_key = #{inputKey}
		</if>
		<if test="isValid!=null and isValid!=''">
			and is_valid = #{isValid}
		</if>
	</select>
	
	<update id="update">
		update wg_input set 
			inupt_value=#{inuptValue}
			<if test="isValid!=null and isValid!=''">
				,is_valid = #{isValid}
			</if>
		where input_key=#{inuptKey}
	</update>
</mapper>