<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wg_input">
	<insert id="insert">
		insert into wg_disclosure_info(
			applicant_sign,id_name,corporate_sign,
			occupation,id_number,legal_representative,
			address,phone_number,email,
			postal_code,legal_representative_s,organization_name,
			organization_name_s,organization_number,government_information,
			mode,carrier,use_type,
			information_use,remission_type,signature_applicant
		)
		values(
			#{applicant_sign},#{id_name},#{corporate_sign},
			#{occupation},#{id_number},#{legal_representative},
			#{address},#{phone_number},#{email},
			#{postal_code},#{legal_representative_s},#{organization_name},
			#{organization_name_s},#{organization_number},#{government_information},
			#{mode},#{carrier},#{use_type},
			#{information_use},#{remission_type},#{signature_applicant}
		)
	</insert>
</mapper>